body {
    background-color: #cccccc;
}
h1 {
    font-size: 25px;
    color: midnightblue;
}
h2 {
    font-size: 25px;
    color: midnightblue;
}
h3 {
    font-size: 25px;
    color: midnightblue;
}
p {
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
}